@mixin border-radius($radius) {
  -webkit-border-radius: $radius!important;
     -moz-border-radius: $radius!important;
      -ms-border-radius: $radius!important;
          border-radius: $radius!important;
}

//box shadow
@mixin box-shadow($s...){
    -webkit-box-shadow:$s;
    -moz-box-shadow:$s;
    -o-box-shadow:$s;
    box-shadow:$s;
}