* {
	box-sizing: border-box;
	word-wrap: break-word;
	color: $c-black;
}

/**:before,
*:after{
	content: '';
	clear: both;
	display: block;
}*/

strong, em, u, b{
	&:before,
	&:after{
		display: none;
	}
}

a{
	text-decoration: none;
	color: $fontColor_default;
	
	&:hover,
	&:active,
	&:focus{
		color: $fontColor__blue;
	}
}

body{
	font-family: $font__main;
	color: #000;
	font-weight: 300;
	font-size: 14px;
}

h1,h2,h3,h4,h5{
	margin: 0;
}

.outer{
	display: table;
}
.inner{
	display: table-cell;
	vertical-align: middle;
}

.full-width{
	width:100%;
}