@import "../custom/module/variable.scss";
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		overflow: hidden;
	}
        .nav-previous, .nav-next{
            font-size:1em;
            font-weight:600;
            a{
                position:relative;
                &:before, &:after{
                font-family:$font-icon;
            }
                &:hover{
                 &:before, &:after{
                color:$c-2;
            }
            }
            &:visited{
                color:$c-7;
            }
            }
        }
	.nav-previous {
		float: left;
		width: 50%;
                padding-left:$margin*2;
                a{
                    &:before{
                    display:inline-block;
                    content:"\f177";
                    margin-right:10px;
                    position:absolute;
                    left:-($margin);
                    top:0;
                }
                }
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
                padding-right:$margin*2;
                a{
                    &:after{
                    display:inline-block;
                    content:"\f178";
                   margin-left:10px;
                   position:absolute;
                    right:-($margin);
                    top:0;
                }
                }
	}
}
.comment-respond{
    border-top:solid 1px $c-border;
    padding-top:$margin;
}
.form-submit{
    .submit{
        background:$c-2;
        border:solid 1px $c-2;
        line-height:40px;
        padding:0 $margin;
        font-size:16px;
        color:$c-0;
        &:hover{
            background:$c-2 - 20;
        }
        &:active{
            background:$c-2 - 40;
        }
    }
}