/* -----------------------
* CUSTOM VARS
/* ----------------------- */

$bgColor: #CCC;
$fontColor_default: #3d3d3d;
$fontColor__blue: #005dcf;
$white: #FFF;

$font__main: 'Source Sans Pro', sans-serif;;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;