/* -----------------------
* CUSTOM VARS
/* ----------------------- */

$bgColor: #CCC;

$font__main: Raleway, "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;