* {
	box-sizing: border-box;
	word-wrap: break-word;
	color: $fontColor_default;
}

*:before,
*:after{
	content: '';
	clear: both;
	display: block;
}


a{
	text-decoration: none;
	color: $fontColor_default;
	
	&:hover,
	&:active,
	&:focus{
		color: $fontColor__blue;
	}
}

body{
	font-family: $font__main;
}

.site-header{
	background: transparent;
	padding: 10px;
	position: absolute;
	z-index: 2;
	width: 100%;

	.sticky-header{
		position:absolute;
	}
}

.container{
	max-width: 1500px;
	margin: 0 auto;
	// &>div{
	// 	float: left;
	// }
}

.site-branding{
	max-width: 25%;
	float: left;
}

.site-brand-inner{
	&>div,
	&>h1,
	&>p{
		display: inline-block;
	}

	&.no-desc{
		.site-title a{
			line-height: 55px;
		}
	}

	&.has-desc{
		.site-title{
			line-height: 20px;
		}
		.site-title a{
			line-height: 20px;
			margin-top: 10px; 
		}

		.site-description{
			margin-top: -20px;
		}
	}
}

.site-logo-div{
	display: block;
	vertical-align: middle;
	
	a{
		float: left;
	}
	img{
		max-width: 100px;
		display: inline-block;
		float: left;
		vertical-align: middle;
	}

	.logo-headline{
		display: inline-block;
		float: left;
	}

	// .site-title{
	// 	// line-height: 10px;
	// }
}
.header-center-wrapper{
	width: 60%;
	float:left;
	clear:none;
}

.header-right-wrapper{
	width: 15%;
	float: right;
}

.site-content{
	.content-area,
	.widget-area{
		float:left;
	}
}

.content-area{
	width: 75%
}
.widget-area{
	width: 25%;
}

ul.colelawson-menu{
	margin-top: 22px;
}
.main-navigation{
	padding-left: 20px;

	li a {
		padding: 15px;
		text-transform: uppercase;
		color: $white;
		font-size: 16px;
	}

	ul ul a{
		width: 250px;
	}
}

.colelawson-menu .menu-item-has-children{
	position: relative;

	& > i.fa{
		position: absolute;
		right: 0;
		top: 20px;
		padding-left: 10px;
		color: $white;
	}

	& > .sub-menu{
		background: $white;
		top: 50px;

		& li {

			& a{
				color: $fontColor_default;
			}

		}
	}
}

.sub-menu .menu-item-has-children{
	position: relative;

	& > i.fa{
		position: absolute;
		right: 10px;
		top: 20px;
		padding-left: 10px;
		color: $fontColor_default;
	}

	& > .sub-menu{
		background: $white;
		top: 0;

		& li {

			& a{
				color: $fontColor_default;
			}

		}
	}
}